page-feed-detail {
    .feed-bg{
        width: 100%;
        height: 40vh !important;
        background-repeat: no-repeat;
        background-position: 50% 50% !important;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .feed-title{
        margin: 0px 4px;
        width: 60vw;
        color: #fff;
        top: 70px;
        position: relative;
        max-height: 60px;
        overflow: hidden;
    }
    .feed-box-cover {
        opacity: 0.4;
        background: color($colors, secondary);
        position: relative;
        top: 150px;
        width: 100%;
        height: 100px;
        padding: 4px 8px;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }
    .feed-doctor-name{
        width: 40vw;
        margin: 4px 8px;
        color: #fff;
        position: relative;
        top: 60px;
        font-weight: bold;
    }
    .feed-content-box{
        color: #fff;
    }
    .feed-content{
        margin: 0;
        padding: 12px;
        font-size: 18px;
        line-height: 200%;

    }
    ion-content{
        background-color: color($colors, grey)!important;
        margin: 0;
        padding: 0;
    }
}
