page-login {
    .login-background{
        background: linear-gradient(135deg, #46b6a6 0%,#43bfc7 25%,#00baff 50%,#2883d2 100%);
        background-position: 50% 50% !important;
        background-repeat: no-repeat !important;
        background-size: cover;
    }
    .facebook-button{
        margin: 16px 0;
        height: 50px;
        line-height: 50px;
        font-weight: 700;
        color: color($colors,white);
        background: color($colors,facebook);
    }

    .google-button{
      margin: 16px 0;
      height: 50px;
      line-height: 50px;
      font-weight: 700;
      color: color($colors,white);
      background: color($colors,google);
    }
    .social-icon{
      font-size: 32px;
    }
    h2 {
        text-align: center;
        color: color($colors,light);
    }
    p {
        text-align: center;
        color: color($colors,light);
        font-size: 16px;
    }
    .login-content{
      height: 70vh;
    }
}
