page-doctor-detail {
  .doctor-card {
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.06) !important;
    padding: 8px;
    border-radius: 8px;
    background-color: #fff;
    text-align: center;
  }

  .doctor-image{
    margin: auto;
  }

  .item-header {
    margin: 20px 0;
    font-weight: bold;
    font-size: 18px;
    color: color($colors, secondary);
  }

  #map_canvas {
    height: 300px;
  }
}
