<!--
  Generated template for the WalkDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Step Detail</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="background">
  <div *ngIf="page === 'step'" class="padding-5-10">
    <ion-row *ngFor="let step of steps" class="record-row">
      <ion-col col-3 class="date-col">
        <p class="date">{{step.date | amDateFormat:'MMM'}}</p>
        <p class="date">{{step.date | amDateFormat:'DD'}}</p>
      </ion-col>
      <ion-col col-9>
        <progress-bar [progress]="step.currentProgress"></progress-bar>
        <p class="progress-title">Step</p>
        <span class="progress-bold">{{step.step}}</span>
        <span>Step</span>
        <i class="icon-moon icon-travel-walk progress-icon"></i>
      </ion-col>
    </ion-row>
  </div>
  <div *ngIf="page === 'distance'" class="padding-5-10">
    <ion-row *ngFor="let distance of distances" class="record-row">
      <ion-col col-3 class="date-col">
        <p class="date">{{distance.date | amDateFormat:'MMM'}}</p>
        <p class="date">{{distance.date | amDateFormat:'DD'}}</p>
      </ion-col>
      <ion-col col-9 *ngIf="page === 'distance'">
        <progress-bar [progress]="distance.currentProgress"></progress-bar>
        <p class="progress-title">Walk Distance</p>
        <span class="progress-bold">{{distance.distance}}</span>
        <span>M</span>
        <i class="icon-moon icon-compass2 progress-icon"></i>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
