page-profile {
    .cover{
        width: 100%;
        height: 150px;
        background-color: color($colors, primary);
        top:0;
        text-align: center;
        color: #fff;
    }
    .user-name{
        font-size: 18px;
        font-weight: bold;
        margin:10px;
    }
    .icon-container{
        padding-top: 20px
    }

    .profile-card{
      position: relative;
      top: -125px;
      background: #fff;
      border-radius: 8px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
    }
    .profile-icon-container{
      padding: 0 25px;
    }

    .profile-name{
      color: color($colors, primary);
      font-size: 18px;
      font-weight: 700;
      text-align: center;
      margin: 0.5em 0;
    }

    .grid-icon{
      color: color($colors, secondary);
    }
}
