<ion-header>
  <ion-navbar no-border>
    <ion-title>
      Profile
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="background">
  <div class="cover">
  </div>
  <div class="padding-0-20">
    <ion-grid *ngIf="user" class="profile-card">
      <ion-row>
        <ion-col col-3></ion-col>
        <ion-col col-6>
          <div class="profile-icon-container">
            <img [src]="user.photoURL" class="user-icon" />
            <p class="profile-name">{{user.displayName}}</p>
            <!-- <p class="profile-info">
              <span>
                <i class="icon-moon icon-male" *ngIf="user.gender === 'M'"></i>
                <i class="icon-moon icon-female" *ngIf="user.gender === 'F'"></i>
                {{user.gender}}
              </span>
            </p>
            <p class="profile-info">
              <span>
                {{user.weight}} KG
              </span>
              <span>
                {{user.height}} CM
              </span>
            </p> -->
          </div>
        </ion-col>
        <ion-col col-3></ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-1></ion-col>
        <ion-col col-10>
          <ion-row>
            <ion-col col-3>
              <p class="info-desc">{{user.gender}}</p>
              <p class="info-title">Gender</p>
            </ion-col>
            <ion-col col-3>
              <p class="info-desc">{{user.age}}</p>
              <p class="info-title">Age</p>
            </ion-col>
            <ion-col col-3>
              <p class="info-desc">{{user.height}}</p>
              <p class="info-title">Height</p>
            </ion-col>
            <ion-col col-3>
              <p class="info-desc">{{user.weight}}</p>
              <p class="info-title">Weight</p>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col col-1></ion-col>

      </ion-row>
      <ion-row class="icon-row">
        <ion-col col-2>
          <i class="grid-icon icon-moon icon-mail2"></i>
        </ion-col>
        <ion-col col-10 ion-text color="secondary">
          <p>Email</p>
          <p>{{user.email}}</p>
        </ion-col>
      </ion-row>
      <ion-row class="icon-row">
        <ion-col col-2>
          <i class="grid-icon icon-moon icon-key"></i>
        </ion-col>
        <ion-col col-10 ion-text color="secondary">
          <p>HKID</p>
          <p>{{user.hkid}}</p>
        </ion-col>
      </ion-row>
      <ion-row class="icon-row">
        <ion-col col-2>
          <i class="grid-icon icon-moon icon-health"></i>
        </ion-col>
        <ion-col col-10 ion-text color="secondary">
          <p>BMI</p>
          <p>{{user.bmi}}</p>
          <progress-bar [progress]="bmiProgress"></progress-bar>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <ion-fab right bottom>
    <button ion-fab color="primary" (click)="edit()">
      <i class="fa fa-pencil" aria-hidden="true"></i>
    </button>
  </ion-fab>
</ion-content>
