<ion-header>
    <ion-toolbar>
        <ion-buttons start>
            <button ion-button icon-only (click)='edit()'>
                <ion-icon name="create"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>
            Profile
        </ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)='logout()'>
                <ion-icon name="log-out"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="background">
    <div *ngIf="user">
        <div class="cover">
            <ion-grid>
                <ion-row>
                    <ion-col col-3></ion-col>
                    <ion-col col-6>
                        <div class="icon-container">
                            <img [src]="user.photoURL" class="user-icon" />
                        </div>
                        <p class="user-name">{{ user.displayName}}</p>
                    </ion-col>
                    <ion-col col-3></ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <div>
            <ion-grid>
                <ion-row class="icon-row mat-lime-500-border">
                    <ion-col col-2 class="icon-col mat-lime-500-bg">
                        <i class="grid-icon fa fa-mars" *ngIf="user.gender == 'M'"></i>
                        <i class="grid-icon fa fa-venus" *ngIf="user.gender == 'F'"></i>
                    </ion-col>
                    <ion-col col-10 class="padding-0-10">
                        <h6 class="mat-lime-500-text">Gender</h6>
                        <p class="f-14" ion-text color="airbnb">{{user.gender}}</p>
                    </ion-col>
                </ion-row>
                <ion-row class="icon-row mat-purple-500-border">
                    <ion-col col-2 class="icon-col mat-purple-500-bg">
                        <i class="grid-icon fa fa-id-card"></i>
                    </ion-col>
                    <ion-col col-10 class="padding-0-10">
                        <h6 class="mat-purple-500-text">HKID</h6>
                        <p class="f-14" ion-text color="airbnb">{{user.hkid}}</p>
                    </ion-col>
                </ion-row>
                <ion-row class="icon-row mat-blue-500-border">
                    <ion-col col-2 class="icon-col mat-blue-500-bg">
                        <i class="grid-icon material-icons">accessibility</i>
                    </ion-col>
                    <ion-col col-10 class="padding-0-10">
                        <h6 class="mat-blue-500-text">Height</h6>
                        <p class="f-14" ion-text color="airbnb">{{user.height}} CM</p>
                    </ion-col>
                </ion-row>
                <ion-row class="icon-row mat-pink-500-border">
                    <ion-col col-2 class="icon-col mat-pink-500-bg">
                        <i class="grid-icon material-icons">accessibility</i>
                    </ion-col>
                    <ion-col col-10 class="padding-0-10">
                        <h6 class="mat-pink-500-text">Weight</h6>
                        <p class="f-14" ion-text color="airbnb">{{user.weight}} Kg</p>
                    </ion-col>
                </ion-row>
                <ion-row class="icon-row mat-teal-500-border">
                    <ion-col col-2 class="icon-col mat-teal-500-bg">

                        <i class="grid-icon material-icons">format_bold</i>
                    </ion-col>
                    <ion-col col-10 class="padding-0-10">
                        <h6 class="mat-teal-500-text">BMI</h6>
                        <p class="f-14" ion-text color="airbnb">{{user.bmi}} </p>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
    </div>
</ion-content>
