<ion-header no-border>
    <ion-toolbar>
        <ion-navbar>
            <ion-title *ngIf="user">
                {{user.username }}
            </ion-title>
        </ion-navbar>
        <ion-buttons end>
            <button ion-button icon-only (click)="save()">
                <ion-icon name="checkmark"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="user">
    <ion-item-group>
        <ion-item-divider color="primary">Personal Information</ion-item-divider>
        <ion-item>
            <ion-label floating>
                HKID
            </ion-label>
            <ion-input [(ngModel)]='user.hkid' type="text"></ion-input>
        </ion-item>
        <ion-item class="inputBox">
            <ion-label>
                Gender
            </ion-label>
            <ion-select [(ngModel)]='user.gender' multiple="false">
                <ion-option [value]="M">M</ion-option>
                <ion-option [value]="F">F</ion-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label floating>
                Height (CM)
            </ion-label>
            <ion-input [(ngModel)]='user.height' type="text"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>
                Weight (KG)
            </ion-label>
            <ion-input [(ngModel)]='user.weight' type="text"></ion-input>
        </ion-item>
    </ion-item-group>

</ion-content>
