page-record {
  .inline-icon {
    margin: 0 5px;
    font-size: 18px;
  }

  .item-doctor {
    font-size: 12px;
    font-weight: bold;
    margin: 8px 0 ;
  }

  .item-location {
    margin: 0;
    color: color($colors, light) !important;
  }

  .doctor-icon-outer {
    width: 50px;
    margin: 0 auto;
  }

  .doctor-icon {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50px;
  }
}
