page-feed {
    .circle-progress{
        padding: 0;
    }
    .feed_bg{
        width: 100%!important;
        height: 280px!important;
        background-repeat: no-repeat;
        background-position: center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        border-radius: 8px;
    }
    .feed-box-cover{
        opacity: 0.4;
        background: color($colors, secondary);
        position: relative;
        top: 190px;
        width: 100%;
        height: 90px;
        padding: 4px 8px;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }
    .feed-box{
        color: #fff;
        width: 100%;
        position: relative;
        top: -90px;
        height: 90px;
        padding: 4px 8px;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }
    .feed-box-icon{
        margin: 0 auto;
        width: 70px;
    }
    .feed-container{
        height: 280px;
        margin-bottom: 5px;
        border-radius: 8px;
    }
    .doctor-icon{
        border-radius: 50%;
        background-size: cover !important;
        height: 70px!important;
        width: 70px!important;
        display: block;
    }
    h2,h6{
        margin: 2px;
        max-height: 30px;
        overflow: hidden;
    }
    canvas {
        height: 70vh!important;
    }
}
