<ion-header no-border>
    <ion-navbar>
        <ion-title>
            Generator
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding class="background">
    <div *ngIf="connected == false">
        <p style="text-align:center">Scan to See Record!</p>
        <button ion-button block (click)="qrScan()">Scan QR Code</button>
    </div>
    <div *ngIf="connected == true">
        <button ion-button block color="danger" (click)="cancel()">Cancel Connection</button>
    </div>
</ion-content>
