// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";
@import "ionic.globals"; // Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/
// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.
$colors: (
    primary: #43bfc7,
    secondary: #607d8b,
    danger: #f53d3d,
    light: #f4f4f4,
    dark: #222,
    grey: #e9ebee,
    airbnb: #484848,
    star: #FFC107,
    facebook: #3a5998,
    google: #d34836,
    white:#fff
);

.background {
    background: color($colors,grey)!important;

}

.white-background {
    background: white !important;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.06) !important
}

.mat-orange-500-bg {
    background-color: #ff9800 !important;
}

.mat-cyan-500-bg {
    background-color: #00bcd4 !important;
}

.mat-red-500-bg {
    background-color: #F44336 !important;
}

.mat-pink-500-bg {
    background-color: #E91E63 !important;
}

.mat-purple-500-bg {
    background-color: #9C27B0 !important;
}

.mat-deep-purple-500-bg {
    background-color: #673AB7 !important;
}

.mat-indigo-500-bg {
    background-color: #3F51B5 !important;
}

.mat-blue-500-bg {
    background-color: #2196F3 !important;
}

.mat-light-blue-500-bg {
    background-color: #03A9F4 !important;
}

.mat-teal-500-bg {
    background-color: #009688 !important;
}

.mat-green-500-bg {
    background-color: #4CAF50 !important;
}

.mat-lime-500-bg {
    background-color: #CDDC39 !important;
}

.mat-orange-500-text {
    color: #ff9800 !important;
}

.mat-cyan-500-text {
    color: #00bcd4 !important;
}

.mat-red-500-text {
    color: #F44336 !important;
}

.mat-pink-500-text {
    color: #E91E63 !important;
}

.mat-purple-500-text {
    color: #9C27B0 !important;
}

.mat-deep-purple-500-text {
    color: #673AB7 !important;
}

.mat-indigo-500-text {
    color: #3F51B5 !important;
}

.mat-blue-500-text {
    color: #2196F3 !important;
}

.mat-light-blue-500-text {
    color: #03A9F4 !important;
}

.mat-teal-500-text {
    color: #009688 !important;
}

.mat-green-500-text {
    color: #4CAF50 !important;
}

.mat-lime-500-text {
    color: #CDDC39 !important;
}

.mat-orange-500-border {
    border-color: #ff9800 !important;
}

.mat-cyan-500-border {
    border-color: #00bcd4 !important;
}

.mat-red-500-border {
    border-color: #F44336 !important;
}

.mat-pink-500-border {
    border-color: #E91E63 !important;
}

.mat-purple-500-border {
    border-color: #9C27B0 !important;
}

.mat-deep-purple-500-border {
    border-color: #673AB7 !important;
}

.mat-indigo-500-border {
    border-color: #3F51B5 !important;
}

.mat-blue-500-border {
    border-color: #2196F3 !important;
}

.mat-light-blue-500-border {
    border-color: #03A9F4 !important;
}

.mat-teal-500-border {
    border-color: #009688 !important;
}

.mat-green-500-border {
    border-color: #4CAF50 !important;
}

.mat-lime-500-border {
    border-color: #CDDC39 !important;
}

ul {
    padding: 0;
    margin: 0;

    &.rating li {
        padding: 0 !important;
        background: none;
        color: color($colors, primary) !important;

        ion-icon {
            font-size: 14px;
        }
    }
}

.toolbar-title {
    color: color($colors, primary) !important;
}

ion-header {
    background: #fff;
}


$toolbar-background: #fff;
$tabs-background: #fff;
$tabs-tab-color-inactive: color($colors, secondary);
$tabs-tab-color-active: color($colors, primary); // App iOS Variables


// --------------------------------------------------
// iOS only Sass variables can go here
// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here
// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.
@import "ionic.theme.default"; // Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/
@import "ionic.ionicons"; // Fonts
// --------------------------------------------------
@import "roboto";
@import "noto-sans";
