// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.ion-md-explore-outline:before,
.ion-ios-explore-outline:before{
  content: "\e923";
  font-family: 'icomoon';
}
.ion-md-explore:before,
.ion-ios-explore:before{
  content: "\e923";
  font-family: 'icomoon';
}

.ion-md-sort:before,
.ion-ios-sort:before{
  content: "\e99d";
  font-family: 'icomoon';
}

.ion-md-feed-outline:before,
.ion-ios-feed-outline:before{
  content: "\e99b";
  font-family: 'icomoon';
}
.ion-md-feed:before,
.ion-ios-feed:before{
  content: "\e99b";
  font-family: 'icomoon';
}

.ion-md-profile-outline:before,
.ion-ios-profile-outline:before{
    content: "\f2c0";
    font-family: FontAwesome;
}
.ion-md-profile:before,
.ion-ios-profile:before{
    content: "\f007";
    font-family: FontAwesome;
}
.ion-md-qr-code-outline:before,
.ion-ios-qr-code-outline:before{
    content: "\f029";
    font-family: FontAwesome;
}
.ion-md-qr-code:before,
.ion-ios-qr-code:before{
    content: "\f029";
    font-family: FontAwesome;
}
.ion-md-record-outline:before,
.ion-ios-record-outline:before{
    content: "\f2c3";
    font-family: FontAwesome;
}
.ion-md-record:before,
.ion-ios-record:before{
    content: "\f2c2";
    font-family: FontAwesome;
}
.margin-0 {
    margin: 0px;
}
.margin-5 {
    margin:5px;
}

.margin-5-0 {
  margin:5px 0;
}
.margin-0-5{
    margin:0 5px;
}

.padding-25{
    padding: 25px;
}
.padding-15 {
  padding: 15px;
}

.padding-0 {
  padding: 0;
}

.padding-5{
    padding:5px;
}
.padding-8{
    padding: 4px 8px;
}
.padding-0-5{
    padding:0 5px;
}
.padding-0-10{
    padding: 0 10px;
}

.padding-0-20{
  padding: 0 20px;
}


.padding-5-10{
    padding: 5px 10px;
}

.padding-10{
    padding:10px;
}

.padding-10-0 {
  padding: 10px 0;
}

.border-2{
    border-style: solid;
    border-width: 2px 0px;
    border-color: color($colors,grey)!important;
}

.f-14{
    font-size: 14px;
    font-weight: bold;
}

.grid-icon{
    position: relative;
    top: calc(50% - 18px);
    font-size: 24px;
    width: 100%;
    margin: auto;
    text-align: center;
    display: block;
    padding: 0px;
}

.progress-icon{
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 16px;
  font-size: 32px;
  color: color($colors, primary);
}

.progress-title {
    font-size: 18px;
    margin: 8px 0 0 0;
}

.progress-bold{
    font-size: 24px;
    font-weight: 900;
}

.date {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  margin: 5px;
}

.date-col {
  padding: 10px 0 !important;
  background: color($colors,primary);
  color: #FFF;
  border-radius: 5px 0 0 5px;
}

.record-row {
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.06) !important;
  border-radius: 5px;
  background-color: #fff;
  margin-bottom: 10px;
}

.icon-col {
  color: color($colors,secondary);;
  padding: 0px;
}
.top-border-8 {
  border-radius: 8px 0 0 0;
}

.bottom-border-8 {
  border-radius: 0 0 0 8px;
}

.user-icon{
  margin: 0 auto;
  border-radius: 50%;
  height: 70px;
  width: 70px;
  display: block;
}
.user-icon-container {
    width: 70px;
    display: block;
    margin: 0 auto;
}

.box{
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
}

.doctor-icon{
  border-radius: 50%;
  height: 80px;
  width: 80px;
}

.doctor-name{
  font-size: 18px;
  font-weight: 900;
  margin:0 10px;
}

.doctor-location {
margin: 0 10px;
}

.doctor-info-box{
text-align: left;
}

.detail-box{
  width: 100%;
  margin: 4px 0;
  padding: 4px;
  background-color: color($colors, white);
  border-radius: 8px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
}

.perfect-image{
  background-position: 50% 50% !important;
}

.info-title{
  color: color($colors, secondary);
  text-align: center;
  font-size: 12px;
  margin: 0.5em 0;
}

.info-desc{
  color: color($colors, primary);
  text-align: center;
  font-size: 14px;
  margin: 0.5em 0;
}

.select-item {
  margin: 1em 0;
  border-radius: 8px;
}

.item-header {
  margin: 5px 0;
  font-weight: bold;
  font-size: 18px;
  color: color($colors, secondary);
}
.item-desc {
  margin: 5px 0;
  font-size: 14px;
  color: color($colors, secondary);
}
