// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.ion-md-notification-outline:before,
.ion-ios-notification-outline:before{
    content: "\f0a2";
    font-family: FontAwesome;
}
.ion-md-notification:before,
.ion-ios-notification:before{
    content: "\f0f3";
    font-family: FontAwesome;
}

.ion-md-feed-outline:before,
.ion-ios-feed-outline:before{
    content: "\f2d1";
    font-family: FontAwesome;
}
.ion-md-feed:before,
.ion-ios-feed:before{
    content: "\f2d0";
    font-family: FontAwesome;
}

.ion-md-profile-outline:before,
.ion-ios-profile-outline:before{
    content: "\f2c0";
    font-family: FontAwesome;
}
.ion-md-profile:before,
.ion-ios-profile:before{
    content: "\f007";
    font-family: FontAwesome;
}
.ion-md-qr-code-outline:before,
.ion-ios-qr-code-outline:before{
    content: "\f029";
    font-family: FontAwesome;
}
.ion-md-qr-code:before,
.ion-ios-qr-code:before{
    content: "\f029";
    font-family: FontAwesome;
}
.ion-md-record-outline:before,
.ion-ios-record-outline:before{
    content: "\f2c3";
    font-family: FontAwesome;
}
.ion-md-record:before,
.ion-ios-record:before{
    content: "\f2c2";
    font-family: FontAwesome;
}
.margin-0 {
    margin: 0px;
}
.margin-5 {
    margin:5px;
}
.margin-0-5{
    margin:0 5px;
}

.padding-25{
    padding: 25px;
}

.padding-5{
    padding:5px;
}
.padding-8{
    padding: 8px;
}
.padding-0-5{
    padding:0 5px;
}
.padding-0-10{
    padding: 0 10px;
}
.padding-10{
    padding:10px;
}
.border-2{
    border-style: solid;
    border-width: 2px 0px;
    border-color: color($colors,grey)!important;
}

.f-14{
    font-size: 14px;
    font-weight: bold;
}

.grid-icon{
    font-size: 24px;
    height: 90px;
    width: 100%;
    margin: auto;
    text-align: center;
    line-height:90px;
    display: block;
    padding: 0px;
}

.icon-col {
    color: #fff;
    border-radius: 0px 5px 5px 0;
    padding: 0px;
}
.icon-row {
    height: 90px;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    margin-bottom: 5px;
}

.user-icon{
    border-radius: 50%;
    height: 70px;
    width: 70px;
    display: block;
}
.user-icon-container {
    width: 70px;
    display: block;
    margin: 0 auto;
}
