<ion-row class="margin-5-0">
  <ion-col col-6 class="search-col">
    <button ion-button block class="search-button">Filter</button>
  </ion-col>
  <ion-col col-6 class="search-col">
    <button ion-button block class="search-button">Sort by</button>
  </ion-col>
</ion-row>
<div *ngFor="let insurancePlan of insurancePlans">
  <ion-row class="insurance-row">
    <ion-col col-3>
      <img-loader class="perfect-image" [src]="insurancePlan.provider_photo_url"></img-loader>
      <p class="info-rate">93% fit for you</p>
    </ion-col>
    <ion-col col-9>
      <ion-row>
        <ion-col col-12>
          <p class="insurance-name">{{insurancePlan.name}}</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-4>
          <p class="info-desc">{{insurancePlan.daliy_cover}}</p>
          <p class="info-title">Board & Room Daily Cover</p>
        </ion-col>
        <ion-col col-4>
          <p class="info-desc">{{insurancePlan.surgery_cover}}</p>
          <p class="info-title">Surgery Cover</p>
        </ion-col>

        <ion-col col-4>
          <p class="info-desc" *ngIf="insurancePlan.miscellaneous_benefit > -1">{{insurancePlan.miscellaneous_benefit}}</p>
          <p class="info-desc" *ngIf="insurancePlan.miscellaneous_benefit == -1">Fully Cover</p>
          <p class="info-title">Miscellaneous Benefits</p>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</div>
