page-record-detail{
    .cover{
        width: 100%;
        height: 160px;
        background-color: color($colors, secondary);
        top:0;
        text-align: center;
        color: #fff;
    }
    .doctor-icon{
        border-radius: 50%;
        height: 80px;
        width: 80px;
    }
    .doctor-name{
        font-size: 18px;
        font-weight: bold;
        margin:10px;
    }
    .icon-container{
        padding-top: 20px
    }
    .grid-icon{
        font-size: 24px;
        position: absolute;
        top:30px;
    }
    .description{
        margin: 10px 0px;
    }
}