<ion-header no-border>
  <ion-navbar>
    <ion-title>
      Detail
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="background">
  <ion-grid *ngIf="record">
    <div class="detail-box">
      <ion-row>
        <ion-col col-3>
          <div>
            <img [src]="record.Doctor.photoURL" class="doctor-icon" />
          </div>
        </ion-col>
        <ion-col col-9 class="doctor-info-box">
          <p class="doctor-name">{{record.Doctor.displayName}}</p>
          <p class="doctor-location">{{record.Doctor.location}}</p>
          <rating [(ngModel)]="record.rate" readOnly="false" max="5"></rating>
        </ion-col>
      </ion-row>
    </div>
    <div class="detail-box">
      <ion-row class="icon-row">
        <ion-col col-2 class="icon-col top-border-8">
          <span class="grid-icon icon-moon icon-clipboard"></span>
        </ion-col>
        <ion-col col-10 class="padding-0-10">
          <h6 class="title">Description</h6>
          <p class="f-14 desc">{{ record.description}}</p>
        </ion-col>
      </ion-row>
      <ion-row class="icon-row">
        <ion-col col-2 class="icon-col">
          <i class="grid-icon icon-moon icon-calendar "></i>
        </ion-col>
        <ion-col col-10 class="padding-0-10">
          <h6 class="title">Visit Date</h6>
          <p class="f-14 desc">{{ record.createdAt | amDateFormat:'DD MMM YYYY'}}</p>
        </ion-col>
      </ion-row>
      <ion-row class="icon-row">
        <ion-col col-2 class="icon-col">
          <i class="grid-icon icon-moon icon-light-bulb"></i>
        </ion-col>
        <ion-col col-10 class="padding-0-10">
          <h6 class="title">Factor</h6>
          <p class="f-14">
            <span *ngFor="let factor of record.RecordFactors" class="record-tag" [ngClass]="factor.class">{{factor.Factor.name}}</span>
          </p>
        </ion-col>
      </ion-row>
      <ion-row class="icon-row">
        <ion-col col-2 class="icon-col bottom-border-8 ">
          <i class="grid-icon icon-moon icon-pil"></i>
        </ion-col>
        <ion-col col-10 class="padding-0-10 ">
          <h6 class="title">Medicine</h6>
          <p class="f-14">
            <span *ngFor="let medicine of record.RecordMedicines" class="record-tag" [ngClass]="medicine.class">{{medicine.Medicine.name}}</span>
          </p>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>
</ion-content>
